@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
} /*вертикальное расположение картинки*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --base-font-size: 16;
}

body {
  font-size: var(--base-font-size);
}

.grid {
  display: grid;
  grid-template-columns: 70px repeat(2, max-content);
  grid-template-rows: repeat(2, 1fr);
  max-width: -moz-max-content;
  max-width: max-content;
}

.firstP {
  grid-row: 1/-1;
  align-self: center;
  font-size: calc(30 / var(--base-font-size) * 1rem);
  font-weight: 700;
}

.dividend {
  font-weight: 700;
  font-size: calc(20 / var(--base-font-size) * 1rem);
  grid-column: 2/3;
}
.dividend div {
  padding: 5px 0;
  display: inline-block;
  border-bottom: 2px solid #000;
}

.divisor {
  margin: 5px auto;
  font-size: calc(20 / var(--base-font-size) * 1rem);
  grid-column: 2/3;
  grid-row: 2/3;
  font-weight: 700;
}

.calcResult {
  grid-row: 1/-1;
  align-self: center;
  font-size: clamp(24 / var(--base-font-size) * 1rem, 21.7931034483 / var(--base-font-size) * 1rem + 0.6896551724vw, 30 / var(--base-font-size) * 1rem);
  font-weight: 700;
  padding: 0px 0px 0px 10px;
}

.averageGrid-container,
.sigmaGrid-container,
.standardDeviation-container,
.standardError-container,
.meanDifferenceError-container,
.degreesOfFreedom-container {
  overflow-x: auto;
  background-color: #fff;
}

.none {
  display: none;
}

@media (min-width: 768px) {
  .img-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  img {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .img-container {
    padding: 20px 0;
    overflow-x: auto;
  }
  .img-container img {
    width: 600px;
  }
}
.flex-row {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow-x: auto;
  margin-bottom: 10px;
}

.calc-container > div:first-child {
  position: relative;
  z-index: 5;
  text-align: center;
}

h3 {
  background-color: lightskyblue;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 30px auto 30px auto;
  text-align: center;
  font-size: clamp(20 / var(--base-font-size) * 1rem, 15.4545454545 / var(--base-font-size) * 1rem + 1.4204545455vw, 30 / var(--base-font-size) * 1rem);
  font-weight: 700;
  padding: 0 10px;
}
@media (min-width: 768px) {
  h3 {
    font-style: italic;
  }
  h3::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
}

.calc-container > p {
  font-size: clamp(18 / var(--base-font-size) * 1rem, 17.2558139535 / var(--base-font-size) * 1rem + 0.2325581395vw, 20 / var(--base-font-size) * 1rem);
  text-align: center;
  font-weight: 700;
  margin: 20px 0;
}

.calc-container > p:first-of-type span {
  display: inline-block;
  position: relative;
}
.calc-container > p:first-of-type span::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.calc-container > p:nth-of-type(2) span,
p:nth-of-type(3) span {
  font-size: calc(30 / var(--base-font-size) * 1rem);
  font-weight: 400;
}

.averageGrid p:first-of-type span {
  display: inline-block;
  position: relative;
  margin: 0px 10px 0px 0px;
}
.averageGrid p:first-of-type span::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.averageGrid p:first-of-type .spanX::after {
  content: "X";
  font-size: calc(15 / var(--base-font-size) * 1rem);
  position: absolute;
  bottom: 0;
  right: -10px;
}
.averageGrid p:first-of-type .spanY::after {
  content: "Y";
  font-size: calc(15 / var(--base-font-size) * 1rem);
  position: absolute;
  bottom: 0;
  right: -10px;
}
.averageGrid .top-element div span {
  margin-right: 5px;
  font-size: calc(30 / var(--base-font-size) * 1rem);
}

.sigmaGrid {
  grid-template-columns: 60px 70px repeat(2, max-content);
}
.sigmaGrid > div:first-of-type {
  grid-row: 1/-1;
  align-self: center;
  font-size: calc(30 / var(--base-font-size) * 1rem);
  font-weight: 700;
}
.sigmaGrid .p {
  grid-column: 2/3;
}
.sigmaGrid__top-element {
  position: relative;
  grid-column: 3/4;
}
.sigmaGrid__top-element #averX {
  position: relative;
}
.sigmaGrid__top-element #averX::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}
.sigmaGrid__top-element div span:first-child {
  margin-right: 5px;
  font-size: calc(30 / var(--base-font-size) * 1rem);
}
.sigmaGrid__top-element #averageX,
.sigmaGrid__top-element #averageY {
  margin-right: 10px;
  position: relative;
}
.sigmaGrid__top-element #averageX::after,
.sigmaGrid__top-element #averageY::after {
  position: absolute;
  bottom: -3px;
  right: -10px;
  font-size: calc(10px / var(--base-font-size) * 1rem);
}
.sigmaGrid__top-element #averageX::before,
.sigmaGrid__top-element #averageY::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}
.sigmaGrid__top-element #averageX::after {
  content: "x";
}
.sigmaGrid__top-element #averageY::after {
  content: "y";
}
.sigmaGrid .after::after {
  content: "2";
  position: absolute;
  top: 0;
  right: -10px;
  font-size: calc(15 / var(--base-font-size) * 1rem);
}
.sigmaGrid__bottom-element {
  grid-column: 3/4;
}
.sigmaGrid__result-element {
  grid-column: 4/5;
}
.sigmaGrid #sigmaY,
.sigmaGrid #sigmaX {
  position: relative;
  margin: 0px 10px 0px 0px;
}
.sigmaGrid #sigmaX::after,
.sigmaGrid #sigmaY::after {
  position: absolute;
  bottom: 0;
  right: -10px;
  font-size: calc(15 / var(--base-font-size) * 1rem);
}
.sigmaGrid #sigmaX::after {
  content: "X";
}
.sigmaGrid #sigmaY::after {
  content: "Y";
}

.spanSigma {
  position: relative;
  margin: 0px 5px 0px 0px;
}
.spanSigma::after {
  content: "2";
  position: absolute;
  top: 0;
  right: -7px;
  font-size: calc(14 / var(--base-font-size) * 1rem);
}

.standardDeviation .x,
.standardDeviation .y {
  margin: 0px 10px 0px 0px;
  position: relative;
}
.standardDeviation .x::after,
.standardDeviation .y::after {
  position: absolute;
  bottom: 0;
  right: -10px;
  font-size: calc(15 / var(--base-font-size) * 1rem);
}
.standardDeviation .x::after {
  content: "X";
}
.standardDeviation .y::after {
  content: "Y";
}
.standardDeviation__top-element #dividendXExample span:first-child,
.standardDeviation__top-element #dividendXExample span:last-child,
.standardDeviation__top-element #dividendX span:first-child,
.standardDeviation__top-element #dividendY span:first-child,
.standardDeviation__top-element #dividendX span:last-child,
.standardDeviation__top-element #dividendY span:last-child {
  position: relative;
  margin: 0px 30px 0px 0px;
}
.standardDeviation__top-element #dividendXExample span:first-child::after,
.standardDeviation__top-element #dividendXExample span:last-child::after,
.standardDeviation__top-element #dividendX span:first-child::after,
.standardDeviation__top-element #dividendY span:first-child::after,
.standardDeviation__top-element #dividendX span:last-child::after,
.standardDeviation__top-element #dividendY span:last-child::after {
  position: absolute;
  bottom: 0;
  right: -30px;
  font-size: calc(15 / var(--base-font-size) * 1rem);
  font-style: italic;
}
.standardDeviation__top-element #dividendXExample span:first-child::after,
.standardDeviation__top-element #dividendX span:first-child::after,
.standardDeviation__top-element #dividendY span:first-child::after {
  content: "imax";
}
.standardDeviation__top-element #dividendXExample span:last-child::after,
.standardDeviation__top-element #dividendX span:last-child::after,
.standardDeviation__top-element #dividendY span:last-child::after {
  content: "imin";
}
.standardDeviation__bottom-element {
  font-style: italic;
}

.standardError {
  grid-template-columns: 125px 60px repeat(2, max-content);
}
.standardError > div:first-of-type {
  grid-row: 1/-1;
  align-self: center;
  font-size: calc(25 / var(--base-font-size) * 1rem);
  font-weight: 700;
}
.standardError__top-element {
  grid-column: 3/4;
  grid-row: 1/2;
}
.standardError__top-element div {
  display: flex;
  justify-content: center;
  border: none;
}
.standardError__bottom-element {
  grid-column: 3/4;
  margin: 0 auto;
  padding: 5px 0;
  border-top: 2px solid #000;
}
.standardError .column2 {
  grid-column: 2/3;
}
.standardError .column2 .iX,
.standardError .column2 .iY {
  position: relative;
  margin: 0px 10px 0px 0px;
}
.standardError .column2 .iX::after,
.standardError .column2 .iY::after {
  position: absolute;
  bottom: 0;
  right: -10px;
  font-size: calc(15 / var(--base-font-size) * 1rem);
}
.standardError .column2 .iX::after {
  content: "X";
}
.standardError .column2 .iY::after {
  content: "Y";
}

.meanDifferenceError {
  grid-template-columns: 50px repeat(2, max-content);
}
.meanDifferenceError #meanDiffErSpan1,
.meanDifferenceError #meanDiffErSpan2 {
  margin: 0px 15px 0px 0px;
  position: relative;
}
.meanDifferenceError #meanDiffErSpan1::before,
.meanDifferenceError #meanDiffErSpan2::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}
.meanDifferenceError #meanDiffErSpan1::after,
.meanDifferenceError #meanDiffErSpan2::after {
  position: absolute;
  bottom: 0;
  right: -7px;
  font-size: calc(12 / var(--base-font-size) * 1rem);
}
.meanDifferenceError #meanDiffErSpan1::after {
  content: "1";
}
.meanDifferenceError #meanDiffErSpan2::after {
  content: "2";
}
.meanDifferenceError #meanDiffErSpan3,
.meanDifferenceError #meanDiffErSpan4 {
  position: relative;
}
.meanDifferenceError #meanDiffErSpan3::after,
.meanDifferenceError #meanDiffErSpan4::after {
  position: absolute;
  bottom: -3px;
  right: 3px;
  font-size: calc(12 / var(--base-font-size) * 1rem);
}
.meanDifferenceError #meanDiffErSpan3::after {
  content: "1";
}
.meanDifferenceError #meanDiffErSpan4::after {
  content: "2";
}

.degreesOfFreedom__flex {
  display: flex;
  font-weight: 700;
  gap: 15px;
  padding: 10px 0 10px 5px;
}
.degreesOfFreedom__flex .f {
  font-size: calc(30 / var(--base-font-size) * 1rem);
}
.degreesOfFreedom__flex .n {
  font-size: calc(20 / var(--base-font-size) * 1rem);
}
.degreesOfFreedom__flex .n span {
  position: relative;
  margin: 0px 10px 0px 0px;
}
.degreesOfFreedom__flex .n span::after {
  position: absolute;
  bottom: -3px;
  right: -7px;
  font-size: calc(12 / var(--base-font-size) * 1rem);
}
.degreesOfFreedom__flex .n span:first-child::after {
  content: "1";
}
.degreesOfFreedom__flex .n span:last-child::after {
  content: "2";
}

.imgP {
  overflow-x: auto;
  margin: 20px 0px 0px 0px;
}
.imgP img {
  margin: 0 auto;
  display: block;
}
@media (max-width: 767px) {
  .imgP img {
    width: clamp(350px, 350px + 0.1118568233 * (100vw - 320px), 400px);
  }
}

.wrapper {
  padding: 20px;
  min-height: 100%;
  background-color: lightskyblue;
  overflow: hidden;
}
@media (max-width: 640px) {
  .wrapper {
    padding: 10px;
  }
}

.container {
  max-width: 580px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: clamp(23 / var(--base-font-size) * 1rem, 17.5454545455 / var(--base-font-size) * 1rem + 1.7045454545vw, 35 / var(--base-font-size) * 1rem);
  font-weight: 700;
  text-shadow: 0 0 5px #fff;
  margin: 0px 0px 20px 0px;
}

.form-inner {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .form-inner {
    flex-direction: column;
    width: 250px;
    margin: 0 auto;
  }
}
.form-inner form .inputs-grid {
  display: grid;
  grid-template-columns: repeat(2, 110px);
  gap: 10px;
  margin: 0px 0px 20px 0px;
}
.form-inner form .inputs-grid input + input {
  margin: 10px 0px 0px 0px;
}
@media (max-width: 640px) {
  .form-inner form .inputs-grid {
    gap: 0;
    justify-content: space-between;
  }
}
.form-inner form label {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: calc(30 / var(--base-font-size) * 1rem);
  font-weight: 700;
}
.form-inner form input[type=text] {
  width: 100%;
  padding: 10px;
  height: 45px;
  border-radius: 15px;
  border: 1px solid rgb(121, 130, 255);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.form-inner form .button-wrapper {
  position: relative;
}
.form-inner form .button-wrapper button + button {
  margin: 10px 0px 0px 0px;
}
@media (max-width: 640px) {
  .form-inner form .button-wrapper {
    margin: 0px 0px 20px 0px;
  }
}
.form-inner h2 {
  text-align: center;
  font-size: calc(20.5 / var(--base-font-size) * 1rem);
  letter-spacing: calc(2 / var(--base-font-size) * 1rem);
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: lowercase;
  color: #fff;
  text-shadow: 0 0 5px #000;
  margin: 0px 0px 25px 0px;
}
@media (max-width: 640px) {
  .form-inner h2 {
    margin: 0px 0px 35px 0px;
  }
}
.form-inner__row-result {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: flex-end;
  width: 250px;
}
.form-inner__row-result .flex-result {
  display: flex;
  justify-content: space-between;
}
.form-inner__row-result .flex-result > div {
  position: relative;
}
.form-inner__row-result .flex-result > div::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(20 / var(--base-font-size) * 1rem);
}
.form-inner__row-result .flex-result > div:first-child::before {
  content: "X";
}
.form-inner__row-result .flex-result > div:last-child::before {
  content: "Y";
}
@media (max-width: 640px) {
  .form-inner__row-result {
    gap: 10px;
  }
}
.form-inner button {
  display: block;
  width: 170px;
  height: 50px;
  padding: 0 20px;
  background-color: #1e90ff;
  color: #fff;
  text-transform: uppercase;
  font-size: calc(20 / var(--base-font-size) * 1rem);
  letter-spacing: calc(2 / var(--base-font-size) * 1rem);
  font-weight: 700;
  text-align: center;
  border-radius: 15px;
  border: none;
}
.form-inner button:hover {
  filter: saturate(250%);
}
.form-inner button:first-child {
  padding: 0;
}
@media (max-width: 640px) {
  .form-inner button:first-child {
    margin: 0px 0px 10px 0px;
  }
}
@media (min-width: 641px) {
  .form-inner button:last-child {
    position: absolute;
    bottom: 0;
    left: 78.5%;
  }
}
.form-inner button[data-btn] {
  width: 100%;
}
.form-inner .result {
  min-width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  min-height: 45px;
  border-radius: 15px;
  border: 1px solid green;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background-color: #fff;
}
.form-inner .last-result {
  max-width: 110px;
  margin: 0 0 0 auto;
}
@media (max-width: 640px) {
  .form-inner .last-result {
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */