@import '_nullstyle';
@import '_functions';

//===============ПОДКЛЮЧЕНИЕ ШРИФТОВ==========================
//============================================================
.wrapper {
	padding: 20px;
	min-height: 100%;
	background-color: lightskyblue;
	overflow: hidden;
	@media (max-width: 640px) {
		padding: 10px;
	}
}
.container {
	max-width: 580px;
	margin: 0 auto;
}
h1 {
	text-align: center;
	font-size: clampFontSize(320, 1024, 23, 35);
	font-weight: 700;
	text-shadow: 0 0 5px #fff;
	margin: 0px 0px 20px 0px;
}
.form-inner {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: space-between;
	@media (max-width: 640px) {
		flex-direction: column;
		width: 250px;
		margin: 0 auto;
	}
	form {
		.inputs-grid {
			display: grid;
			grid-template-columns: repeat(2, 110px);
			gap: 10px;
			margin: 0px 0px 20px 0px;
			input + input {
				margin: 10px 0px 0px 0px;
			}
			@media (max-width: 640px) {
				gap: 0;
				justify-content: space-between;
			}
		}
		label {
			display: block;
			text-align: center;
			text-transform: uppercase;
			font-size: pxRem(30);
			font-weight: 700;
		}
		input[type='text'] {
			width: 100%;
			padding: 10px;
			height: 45px;
			border-radius: 15px;
			border: 1px solid rgb(121, 130, 255);
			text-align: center;
			font-size: 20px;
			font-weight: 700;
		}
		.button-wrapper {
			button + button {
				margin: 10px 0px 0px 0px;
			}
			position: relative;
			@media (max-width: 640px) {
				margin: 0px 0px 20px 0px;
			}
		}
	}
	h2 {
		text-align: center;
		font-size: pxRem(20.5);
		letter-spacing: pxRem(2);
		line-height: 1.5rem;
		font-weight: 700;
		text-transform: lowercase;
		color: #fff;
		text-shadow: 0 0 5px #000;
		margin: 0px 0px 25px 0px;
		@media (max-width: 640px) {
			margin: 0px 0px 35px 0px;
		}
	}
	// .form-inner__row-result
	&__row-result {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-self: flex-end;
		width: 250px;
		.flex-result {
			display: flex;
			justify-content: space-between;
			& > div {
				position: relative;
				&::before {
					content: '';
					position: absolute;
					top: -50%;
					left: 50%;
					transform: translateX(-50%);
					font-size: pxRem(20);
				}
				&:first-child::before {
					content: 'X';
				}
				&:last-child::before {
					content: 'Y';
				}
			}
		}
		@media (max-width: 640px) {
			gap: 10px;
		}
	}
	button {
		display: block;
		width: 170px;
		height: 50px;
		padding: 0 20px;
		background-color: #1e90ff;
		color: #fff;
		text-transform: uppercase;
		font-size: pxRem(20);
		letter-spacing: pxRem(2);
		font-weight: 700;
		text-align: center;
		border-radius: 15px;
		border: none;
		&:hover {
			-webkit-filter: saturate(250%);
			filter: saturate(250%);
		}
		&:first-child {
			padding: 0;
			@media (max-width: 640px) {
				margin: 0px 0px 10px 0px;
			}
		}
		&:last-child {
			@media (min-width: 641px) {
				position: absolute;
				bottom: 0;
				left: 77%;
			}
		}
	}
	button[data-btn] {
		width: 100%;
	}
	.result {
		min-width: 110px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
		min-height: 45px;
		border-radius: 15px;
		border: 1px solid green;
		text-align: center;
		font-size: 20px;
		font-weight: 700;
		background-color: #fff;
	}
	.last-result {
		max-width: 110px;
		margin: 0 0 0 auto;
		@media (max-width: 640px) {
			margin: 0 auto;
		}
	}
}
